@page "/"
@using cocktail_generator_ai.Services
@using OpenAI.ObjectModels.SharedModels
@inject IAiService AiService;

<PageTitle>Home</PageTitle>

<p>Number of cocktails: @_cocktails.Count()</p>

@code{
    private IEnumerable<ChoiceResponse> _cocktails = null!;

    protected override async Task OnInitializedAsync()
    {
        _cocktails = await AiService.GetCocktails();
        await base.OnInitializedAsync();
    }

}